@use 'src/styles/mixins';
@use 'src/styles/variables' as *;

.form {
  display: flex;
  gap: 10px;

  .select {
    margin: 0;
    width: 200px;

    @include mixins.mobile {
      :global(.ant-select-single) {
        height: 38px;
        font-size: 18px;
      }
    }
  }

  .btn {
    @include mixins.mobile {
      height: 100%;
      background-color: $color-2;
      color: $color-1;
    }
  }

  & > :first-child {
    flex: 1;
  }
}

.select-popup {
  :global(.ant-select-item-option) {
    font-size: 0.9rem;
  }
}
