@use 'src/styles/mixins';

.chargers {
  margin: 20px auto;
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;

  gap: 20px;

  @include mixins.tablet {
    flex-wrap: wrap;
  }
}
