@use 'src/styles/mixins';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
  background-color: #a6cdc6;
  min-height: 30px;
  font-size: 0.9rem;

  @include mixins.mobile {
    font-size: 1rem;
  }

  .btn {
    &:disabled {
      .icon {
        color: rgba(79, 79, 79, 0.387);
      }
    }
    .icon {
      color: rgb(255, 135, 135);
      @include mixins.mobile {
        font-size: 1rem;
      }
    }

    &:nor(:disabled):hover {
      .icon {
        color: rgb(255, 28, 28);
      }
    }
  }
}
